.DS_Store
.vscode/
.idea/
robot_ws/build/
robot_ws/install/
robot_ws/log/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
docker-compose.cloud-local.yml
backend/.run/
backend/runtime/
backend/capture_img/*
!backend/capture_img/.gitkeep
backend/apps/ai_service/weights/*
!backend/apps/ai_service/weights/README.md
backend/.venv/
*.db
flutter_app/build/
*.pyc
*.engine
*.pt
*.pth
*.onnx
*.tflite
*.torchscript
*.ncnn
*.mp4
